@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&family=Overpass:ital,wght@0,200;0,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
html {
  background-color: black;
  color:white;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  /* background-color: #fbfdfd; */
  min-height: 100vh;
  margin: 0;
  line-height: 24px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color:white;
  letter-spacing: .5px;
}
.header-text {
  position: absolute;
  font-size: 22px;
  font-weight: 600;
  padding: 0rem 16px;
  padding-top: 1.5rem;
  width: 100%;
  padding-bottom: 1rem;
   background-color: rgba(255, 255, 255, 0.078);  
 backdrop-filter: blur(5px);
  display:flex;
  gap:2rem;
  max-height: 53px;
  align-items:center;
}
.main-container {
  width: 100%;
  position: relative;
}
.profile_pic {
  width: 48px;
  height: 48px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128, 0.244);
}
.user-details h4 {
  color: rgb(231, 233, 234);
  font-weight: 800;
  font-size: 16px;
}
.user-details h6 {
  color: rgba(210, 210, 210, 0.72);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: -3px;
  margin-left: 4px;
}
.dot {
  width: 3px;
  height: 3px;
  background: rgb(113, 118, 123);
  border-radius: 50%;
  margin-top: 9px;
}

.modal-body {
  position: fixed;
  top: 0;
  left: 0%;
  min-height: 100%;
  min-width: 100%;
  background: #23232395;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modal-container {
  width: 40%;
  background: black;
  color: rgb(231, 233, 234);
  padding: 1rem;
  border-radius: 20px;
}
.header {
  display: flex;
  gap: 2rem;
}
.close {
  fill: currentcolor;
  width: 19px;
  height: 19px;
}
.close-body {
  padding: 10px 10px 5px 10px;
}
.close-body:hover {
  background: rgba(255, 255, 255, 0.126);
  /* padding:10px; */
  border-radius: 50%;
}